body {
    background-color: rgba(148, 198, 228, 0.90); /*Light Blue*/
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

@media all and (max-width: 800px) { /* Media Query. Meaning: Any screen and if you pass the width it triggers */
    body {
        color: blue;
    }
    @media img-Naruto and (max-width:800px) {
        body{
            color:rgba(148, 198, 228, 0.90)
        }

    }
}
#container {
    min-height: 100%;
    position: relative;
}

#header {
    text-align: center;
    
    text-anchor: middle;
    line-height: 50%;
    background: rgb(187, 30, 30);
    margin:auto; /*centers my header*/
    width: auto; /*centers my text?*/
    padding: 50px;
    box-sizing: border-box;
    border: 10px solid;
    height: 5vh;
   
}

#body {
    position: relative;
    margin-top: 100px;
    padding: 10px;
    padding-bottom: 60px;
}

#footer {
    position: absolute;
    bottom: 10;
    width: 100%;
    height: 10px;
    border-top: 10px;
    background: rgb(0, 0, 0)
}

h1 {
    font-size: 250%;
    color: rgb(0, 0, 0); /*Black*/
}

.img-Naruto {
    max-width: 25%;
    max-height: 60vh;
    margin:auto;
    border-radius: 10px;

}

.allign-test {
    position: static;
    width: 510px;
    margin: 0 auto;
    font-size: 110%;
    font-style: oblique;
    font-weight: 800; /*Thickness aka bold*/
}

.iframe-js {

    border: hidden; /*gets rid of this weird border for my video*/
    border-color: rgba(148, 198, 228, 0.90);
    border-radius: 10px;

}

.crimson-text {
    color: crimson;
}

.p2 {
    width: 510px;
    margin: 0 auto;
    font-size: 110%;
    font-style: oblique;
    font-weight: 800; /*Thickness aka bold*/
    color: darkred;
}
